[Desktop Entry]
Type=Application
Name=QModBus
Comment=ModBus master emulator with GUI
Exec=qmodbus
Icon=qmodbus
Terminal=false
Categories=Development;Electronics;
Keywords=embedded electronics;electronics;microcontroller;
